:root {
    --bg-primary-color: #f0f0f6;
    --bg-secondary-color: #ffffff;
    --bg-tertiary-color: #121214;
    --background-darktheme: #000000;
    --background-lighttheme: #f0f0f6;
    --primary-text-color: #2b2b2b;
    --secondary-text-color: #ffb400;
    font-family: Inter, sans-serif;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#dark-theme button{
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
    background-color: #2b2b2b;
    color: white;
    zoom: 1.5;
    margin-bottom: 70px !important;
}

#dark-theme #dark{
    display: none;
    background: white;
    color: black;
}

body{
    width: 415px;
    height: 890px;
}


#app{
    width: 100%;
    height: 100%;
    background-color: var(--background-darktheme);
    color: var(--bg-secondary-color);
    padding-top: 25px;
    display: flex;
    flex-direction: column;   
    justify-content: space-evenly; 
}

#container{
    width: 23em;
    height: 470px;
    margin: 0px auto ;
    background: var(--primary-text-color);
    border-radius: 10px;
    padding: 20px;
}

#container form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#container H1{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--bg-primary-color);
}


#container form label{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .01px;
    text-transform: uppercase;
    color: var(--bg-primary-color);
    margin: 10px;
}
#container form input{
    background: var(--bg-tertiary-color);
    border: 1px solid #323238;
    border-radius: 15px;
    height: 41px;
    width: 290px;
    color: #fff;
    text-transform: uppercase;
    text-indent: 15px;
    font-weight: 600;
}

#container-out{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2rem;
    letter-spacing: .01px;
    color: var(--secondary-text-color);
    margin: 30px 10px;
    display: none;
}

#container-out h3{
    margin-bottom: 40px !important;
}

#btn{
   margin: 15px 0;
   background-color: #c61717 !important;
   transition: .5s;
   cursor: pointer;
}

#back{
    border: 1px solid #323238;
    border-radius: 15px;
    height: 41px;
    padding-inline: 1.2rem;
    width: 80%;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0;
    background-color: #c61717;
    transition: .5s;
    cursor: pointer; 
    margin: 40px 30px;
    display: none;
}

#btn:hover,
#back:hover{
    filter: brightness(120%);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--bg-tertiary-color);
    font-weight: 900;
}
a:hover{
    text-decoration: underline;
}

footer{
    background: #c61717;
    display: flex;
    flex-direction: row ;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: -42px;
    
}


/* pop icon */
.wrapper{
    display: inline-flex;
    list-style: none;
}

.wrapper a{
    position: relative;
    top:-5px;
    background: #ffffff;
    color: #333333;
    border-radius: 50%;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before{
    position: absolute;
    content: " ";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper a:hover .tooltip{
    top: -80px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .github a:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before{
    background: #333333;
    color: #ffffff;
}

.instagram{
    display: none;
}

.wrapper .instagram a:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
    background: #e4405f;
    color: #ffffff;
    
}


@media (min-width: 500px){
    body{
        width: 100%;
        height: 1020px;
        
    }
    #app{
        width: 100%;
        height: 100%;
        
        
    }

    footer{
        justify-content: center;
        position: relative;
        bottom: -50px;
       
    }
    .instagram{
        display: block;
    }
}
